.div-image-funcionario {
    float: right;
    padding-top: 25px
}
.funcionario-profile-image {
    width:400px;
    height:400px
}

select[readonly] {
    background: #eee; 
    pointer-events: none;
    touch-action: none;
}

.date[readonly] {
    background: #eee;
    pointer-events: none;
    touch-action: none;
}