@model SistemaVendasWeb.Models.Funcionario;

<h2>Funcionários</h2>

<p>Detalhes</p>

<hr />

<partial name="Partials/Funcionario/_FuncionarioDetalhePartial" model="Model" />
<partial name="Partials/Endereco/_EnderecoDetalhePartial" model="Model.Endereco" />


