@model SistemaVendasWeb.Models.Funcionario;

<h2>Funcionários</h2>

<p>Detalhes</p>

<hr />

<partial name="Partials/Funcionario/_FuncionarioDetalhePartial" model="Model" />

@if (Model.Endereco == null)
{
    <p>
        Este funcionário não possui Endereço cadastrado.
    </p>
}
else
{
    <partial name="Partials/Endereco/_EnderecoDetalhePartial" model="Model.Endereco" />
}



